<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Hexify
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div id="app">
        <div class="app-container">
            <div id="cardOne">
                <div class="card-header">
                <img class="hex" src="https://i.ibb.co/pJfRx3D/Whats-App-Image-2024-03-16-at-1-07-56-AM-removebg-preview.png" alt="logo" border="0"></a>
                    <strong class="star">HEX</strong> by Hexify
                </div>
                <div class="card-body">
                    <small>Conversation with Hex:</small>
                    <div id="conversation"></div>
                </div>
                <div class="card-footer-1 text-muted ">
                    <div class="input-group ">
                        <input id="write-message" type="text" class="form-control" placeholder="Ask something to Hex...">
                        <div class="input-group-append">
                            <button id="btn-send" class="btn btn-primary rounded">
                                Send
                                <i class="fas fa-location-arrow"></i>
                            </button>
                            
                        </div>
                        <div class="container card-footer">
                           
                            <button class="btn-reminder rounded px-3 py-2">
                                Reminder
                                
                            </button>
                            <button id="but-reminder" class="btn-reminder rounded px-3 py-2">
                                Launch App
                                
                            </button><button class="btn-reminder rounded px-3 py-2" >
                                Terminal Emulation
                                
                            </button>
                            <button id="btn-talk" class="btn btn-reminder rounded btn-primary btn-block">
                                Talk
                                <i class="fas fa-microphone"></i>
                            </button>
                            <button id="btn-stop" class="btn btn-reminder rounded btn-danger btn-block">
                                Stop
                                <i class="fas fa-stop"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer-1 text-muted d-flex justify-content-center align-items-center">
                    <small>
                         2024 da3m0ns
                    </small>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="renderer.js"></script>
    
</body>
</html>
