
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#app {
    width: 100vw;
    height: 100vh;
}
.app-container {
    background-color: #27374D;
    width: 100%;
    height: 100%;
    color: #2d7dff;
}

#conversation {
    background-color: #DDE6ED;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}
.card-body small {
    color: #526D82;    
}
.card-body  {
    background-color: #526D82;    
}

.star{
    color: rgb(247, 155, 17);
    font-size: larger;
}

::placeholder {
    color: #bbb;
    font-size: 0.9em;
}
#write-message {
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;
    width: 80%;
    padding: 1px 6px 1px 6px;
}
#btn-send {
    min-height: 40px;
    font-size: 0.8em;
    color: #ffffff;
}

button i {
    font-size: 1.2em;
    margin: 5px;
    color: rgb(196, 245, 0);
}

button {
    color:#1f245d;
}

.message {
    font-size: 14px;
    margin-bottom: 2px;
}
.msg-wonki {
    color: #1f245d;
}
.msg-you {
    color: #1f555d;
}

.card-header i {
    font-size: 1.2em;
    margin-right: 7px;
}

.card-footer a {
    color: #1f245d;
}
.card-footer a:hover {
    color: #1f555d;
}
.container.card-footer {
    background-color: #526D82;
    display: flex;
    justify-content: center; /* evenly space the buttons */
    align-items: center; /* center content vertically */
    margin-left: 5px;
    width: auto;
    white-space: nowrap; /* keep the text in a single line */
}





.btn-reminder{
    margin-left: 1rem;
}



.card-footer-1{
    background-color: #27374D;
}

.input-group{
    background-color: #526D82;
}

#cardOne{
    background-image:url("blue.jpg");
    background-size: cover;
    background-position: center;
}

.hex{
    height: 50px;
    width:50px;
}
.btn-reminder{
    color: white;
    background-color: #27374D;
    border-radius: 15%;
    
}
.card-body{
    color: white;
}
